#visilogo {
    width: 232.3px;
    height: 120px;
}
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: row-reverse;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  transition: all 0.2s;
  padding: 12px 18px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: #2B6F50;
  border-radius: 10px;
  border: none;
  min-width: 78px;
  min-height: 46px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  width: 18px;
  height: 18px;
  fill: #ffffff;
}


.btn:hover .btn-icon svg {
  fill: #ffffff;
}