#visilogo {
    width: 232.3px;
    height: 120px;
}
#sendBtn {
  position: absolute;
  right: 30px;
  bottom: 12px;
  font-size: 19px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #06402B;
  border-radius: 7px;
  font-family: 'Arial, sans-serif';
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sendBtn:hover {
  background-color: #0A5E3D;
  cursor: pointer;
}

#Chat-container {
    position: absolute;
    width: 390px;
    height: 500px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    bottom: 70px;
    right: 30px;
}

#messages {
    color: #0A5A3F;
    font-family: 'Arial, sans-serif';
}
#text {
position: absolute;
right: 120px;
bottom: 12px;
width: 300px; height: 40px; font-size: 20px;
font-family: 'Arial, sans-serif';
color: #000;
padding: 8px;
border: 1px solid #000;
border-radius: 4px;
box-sizing: border-box;
margin-top: 10px;
}

.message {
  max-width: 40%;
  padding: 10px 14px;
  margin: 8px 0;
border-radius: 12px;
  font-size: 14px;
  line-height: 1.4;
  word-wrap: break-word;

  display: inline-block;
  clear: both;
}

.message.user {
  background: #0A53AF;
  color: white;

  margin-left: auto;
  margin-right: 0;

  border-bottom-right-radius: 6px;
}

.message.bot {
  background: #e5e5ea;
  color: black;

  margin-right: auto;
  margin-left: 0;

  border-bottom-left-radius: 6px;
}