@keyframes intro {
    0% {
        rotate: 0deg;
     }
    100% { 
        rotate: 360deg;
     }
}

.Chat {
    background-color: #A1BBAF;
}
#Chat {
  opacity: 0;
  pointer-events: none;
  transform: translateY(12px);
  transition: 0.2s ease;
}

#user-input.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#user-input {
    width: 300px;
    height: 170px;
    animation: intro 2s ease;
}